:root {
    --main-color: #000000;
    --secondary-color: #000000;
    --accent-color: hsl(168, 79%, 34%);
}

::selection {
    color: white;
    background-color: var(--accent-color);
}

body {
    margin: 0px;
    padding: 0px;
    color: white;
    background-image:
        linear-gradient(
            -45deg,
            rgb(10, 54, 48) 5%,
            rgb(22, 29, 58) 40%
        );
    background-attachment: fixed;
    font-family: sans-serif;
}

/* HEADER START */

#header {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    background-color: hsl(220, 66%, 13%);
    z-index: 1;
}

#header-img {
    object-fit: contain;
    width: 48px;
    margin-left: 32px;
}

#nav-bar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link li {
    box-sizing: content-box;
    display: inline-block;
    padding: 16px 24px;
    padding-bottom: 14px;
    border-bottom: solid transparent;
}

.nav-link li:hover {
    background-color: hsla(168, 88%, 35%, 0.13);
    border-bottom: solid var(--accent-color);
}

/* HEADER END */

/* BANNER START */

#intro {
    background:
        linear-gradient(rgba(6, 6, 20, 0.774), rgba(14, 8, 19, 0.719)),
        url("./assets/intro-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 60px;
}

#intro-content {
    text-align: center;
}

#intro-title {
    margin: 0px;
    font-size: 64px;
    margin-bottom: 0.25em;
}

#intro-description {
    margin: 0px;
    font-size: 28px;
    color: lightgray;
}

/* BANNER END */

.section-header {
    padding: 16px;
    text-align: center;
    font-size: 32px;
    background-color: hsla(0, 0%, 0%, 0.158);
}

.section-intro {
    position: relative;
    margin: 16px 0px;
    font-size: 18px;
    text-align: center;
}

.section-content {
    padding: 64px 0px;
}

/* FEATURES SECTION START */

#feature-card-group {
    display: flex;
    justify-content: space-around;
}

.feature-card {
    width: 420px;
    display: flex;
    justify-content: space-around;
    padding: 32px;
    border-radius: 16px;
    /* background-color:hsl(225, 28%, 14%); */
    /* background-color:rgb(11, 12, 17); */
}

.feature-card img {
    width: 20%;
    width: 100px;
    height: 100px;
    opacity: 70%;
    align-self: center;
}

.feature-content {
    width: 60%;
}

.feature-content header {
    margin-bottom: 0.25em;
    font-size: 28px;
    font-weight: bold;
    color: hsl(168, 87%, 39%);
}

.feature-content p {
    margin: 0px;
    color: lightgray;
}

@media screen and (max-width: 1080px){
    #feature-card-group {
        flex-direction: column;
    }

    .feature-card {
        width: 720px;
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    .feature-card {
        width: auto;
        padding: 32px 8px;
    }
}

/* FEATURES SECTION END */

/* INSTALLATION SECTION START */

#installation-instructions {
    position: relative;
    top: -16px;
    font-size: 18px;
    text-align: center;
}

#video {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}


#download-btn {
    display: block;
    padding: 16px;
    margin: 32px auto;
    width: 100px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: var(--accent-color);
}

/* INSTALLATION SECTION END */

/* SOCIALS SECTION START */

#socials-group-div {
    display: flex;
    align-items: center;
    margin: 32px auto;
    width: 400px;
}

.socials-container {
    display: inline-flex;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 0%, 0.445);
    align-items: center;
    justify-content: center;
}

.fa {
    font-size: 40px;
    text-decoration: none;
    color: white;
}

#form {
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.input-group {
    display: flex;
    padding: 8px;
    justify-content: center;
}

#email {
    padding: 4px 8px;
    margin-right: 16px;
    border-radius: 4px;
    width: 200px;
}

#submit {
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: var(--accent-color);
}

#submit:hover {
    cursor: pointer;
}

#privacy-policy {
    margin-right: 16px;
}

label[for="privacy-policy"] a {
    color: var(--accent-color);
}

/* SOCIALS SECTION END */
